<main class="content">
  <section class="video-content">
    <ng-container *ngIf="currentVideo">
      <div class="temp"></div>
      <app-video-player
        [video]="currentVideo"
        (endVideoEmitter)="nextVideo()"
      ></app-video-player>
    </ng-container>

    <section class="loading" *ngIf="!currentVideo && currentVideoIndex !== videos.length">
      <span>Loading...</span>
    </section>

    <section class="loading" *ngIf="currentVideoIndex === videos.length">
      <h2>Curso terminado</h2>
    </section>
  </section>

  <aside class="list-content">
    <app-video-list
      [videos]="videos"
      [currentIndex]="currentVideoIndex"
      (changeVideoEmitter)="changeVideo($event)"
    ></app-video-list>
  </aside>
</main>
